src/xsd/ServiceBanque.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- bch nraj3ou java sous forme d une structure xml --> 
<!ELEMENT BanqueService (conversion)>
<!ELEMENT conversion (montant)>
<!ELEMENT montant (#PCDATA)>
<!ELEMENT getcomptes ( compte+)>
<!ELEMENT getcompte ( compte)>
<!ELEMENT compte (code,solde,dateCreation)>
<!ELEMENT code (#PCDATA)>
<!ELEMENT solde (#PCDATA)>
<!ELEMENT dateCreation (#PCDATA)>